{% extends 'base.html.twig' %}
{% block title %}Strona główna{% endblock %}


{% block body %}
	<h1 style="text-align:center;">Najnowsze posty</h1>
	<hr>
	{% for newest in news %}
		<ul class="list-group">			
			<li class="list-group-item">
				<a href="{{ path('article', {id:newest.id}) }}">
					{{ newest.title }}<br><br>
				</a>
				<b>{{ newest.heading }}</b>
			</li>
		</ul>
	{% endfor %}

{% endblock %}

