{% extends 'base.html.twig' %}
{% block title %}Strona główna{% endblock %}

{% block body %}

    <h1>Blog - PROJECT XV</h1>
    <hr/>
    {% block navigation %}
<p>{{ 'Symfony is great' | trans }}</p>
            <div class=""><a href="{{ path('fos_user_registration_register') }}"><h4>Zarejestruj się</h4></a></div>

        {% endblock %}

    <a href={{ path('post') }}><h3>Posty</h3></a>
{% endblock %}
