{% extends 'base.html.twig' %}

{% block body %}
	<h1 style="text-align:center;">Posty</h1>
	<hr>
	{% for post in posts %}
		<div>
			<h2><a href={{ path('article', {id:post.id}) }}>{{ post.title }}</a></h2>
			<p>{{ post.heading }}</p>
		</div>
	{% endfor %}

	<hr>
	<a href={{ path('homepage') }} class="btn btn-success btn-block"><b>Strona Główna</b></a>
{% endblock %}