{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
	<h1>Twoje konto</h1>

	 <hr>
	{% include "@FOSUser/ChangePassword/change_password_content.html.twig" %}
{% endblock fos_user_content %}
